[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A sample Spring-based application
[access "refs/*"]
	owner = group user/123hema
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/123hema
	label-Verified = -1..+1 group user/123hema
	push = group user/123hema
	read = group user/123hema
	rebase = group user/123hema
	removeReviewer = group user/123hema
	submit = group user/123hema
[access "refs/heads/*"]
	create = group user/123hema
	push = +force group user/123hema
	pushMerge = group user/123hema
	read = group user/123hema
[access "refs/tags/*"]
	push = group user/123hema
	push = +force group user/123hema
